{% extends "base.html" %}

{% block content %}
    <h2>Signup</h2>
    <p>if you already have account <a href="/login">login</a></p>
    <form class="login" method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{ vus }}">
          </td>
          <td class="error">
            {{ text1 | safe }}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
            {{ text2 | safe }}
          </td>
        </tr>

        <tr>
          <td class="label">
            Verify Password
          </td>
          <td>
            <input type="password" name="verify" value="">
          </td>
          <td class="error">
            {{ text3 | safe }}
          </td>
        </tr>

        <tr>
          <td class="label">
            Email (optional)
          </td>
          <td>
            <input type="text" name="email" value="{{ vem }}">
          </td>
          <td class="error">
            {{ text4 | safe }}
          </td>
        </tr>
      </table>

      <input type="submit">
    </form>
  {% endblock %}
